html {
	background-color: DarkSlateGrey ;
	}

.portrait-image {
	display: block;
	width: 200px;
	margin: auto;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 border-radius: 8px;
	}


body {
	background-color: DarkSlateGrey ;
	}

* {
	font-family: 'Josefin Sans', sans-serif, monospace;
  color: black;
    } 

h1,h3 {
  font-family: 'Josefin Sans';
  color: black;
	text-align: center;
	}



.first-p {
  text-align: center;
  color: black;
  font-size: 150%;
  }

ul {
  width: 200px;
  margin: auto;
  /* text-align: center; */
}

h4 {
  margin: auto;
  text-align: center;
}

/* 
font family
font-family: 'Josefin Sans', sans-serif;
*/

