html {
	background-color: DarkSlateGrey ;
	}

* {
	font-family: 'Josefin Sans', sans-serif, monospace;
    } 

h1 {
	text-align: center;
	}

.portrait-image {
	display: block;
	width: 200px;
	margin: auto;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 border-radius: 8px;
	}

/* font family
font-family: 'Playfair Display', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Amatic SC', cursive; */
